body {
    font-family: "Open Sans", sans-serif;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    color: black;
    
}

/* heder */
.hed1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
    
}

.hed1 .Login {
    border: 2px solid rgb(2, 2, 77);
    border-radius: 20px;
    font-size: 13px;
    width: 103px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: rgb(7, 1, 63);
    background-color: rgba(2, 2, 77, 0.096);
    text-shadow: 2px 2px 4px #fdfdfd;
}

.hed1 .Login:hover {
    border: 2.5px solid rgb(255, 255, 255);
    color: white;
    font-weight: 600;
    background-color: rgb(2, 2, 77);
    width: 114px;
    height: 47px;
    font-size: 12.5px;
    transition: ease-in-out;
    transition-duration: .8s;
}

.logo {
    font-size: 22px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 500;
    color: rgba(2, 2, 77, 0.815);

}

.logo:hover {
    font-size: 24px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: ease-in-out;
    transition-duration: .7s;
    color: rgb(2, 2, 54);
}

.hed2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 10%;
    padding: 5px;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #545468;
    height: 50px;
}

.hed2 a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid rgba(224, 224, 224, 0);
    border-radius: 20px;
    width: 114px;
    height: 35px;
    padding: 3px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.hed2 a:hover {
    font-size: 17px;
    font-weight: 600;
    border: 2px solid rgb(224, 224, 224);
    width: 120px;
    height: 38px;
    border: 2px solid rgb(2, 2, 54);
    transition: ease-in-out;
    transition-duration: .7s;
    background-color: aliceblue;
    color: rgb(2, 2, 54);
}

/* heder */
/* page course */
.cour-sec {
    width: 100%;
    height: 900px;
}

.cour-sec .image {
    border: 1px solid rgb(138, 142, 168);
    width: 60%;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    display: block;
    /* height: 400px; */
}

.cour-sec .image img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(200, 196, 255);
    border-radius: 10px;
}

.cour-sec .row {
    margin-top: 40px;
}

.cour-sec .content-course {
    border: 1px solid rgb(168, 154, 138);
    border-radius: 10px;
    width: 80%;
    direction: rtl;
    margin-left: 15%;
    padding-bottom: 10px;
}

.cour-sec button {
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 20PX;
}

.cour-sec .content-course h1 {
    padding-right: 10px;
    margin-bottom: 20px;
}

.cour-sec .content-course ul {
    list-style: inside;
    padding-right: 10px;
}

/* details of corse */
.cour-sec .content-2,
.cour-sec .content-3,
.cour-sec .content-4,
.cour-sec .content-5 {
    border: 1px solid rgb(168, 154, 138);
    border-radius: 10px;
    width: 80%;
    direction: rtl;
    line-height: 2;
    margin-bottom: 15px;
    padding-right: 10px;
    margin-left: 15%;
    padding-bottom: 10px;
}

.cour-sec .content-2 a,
.cour-sec .content-3 a,
.cour-sec .content-4 a,
.cour-sec .content-5 a {
    color: rgb(195, 107, 0);
    text-decoration: none;
}

/* page course */